* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Helvetica-Cond";
    src: url('../assets/fonts/HelveticaCond.ttf');
}

.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.down_arrow {
    float: right;
    margin-right: 10%;
}

button {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #4D5F6B;
    display: inline-block;
    cursor: pointer;
}

header {
    background-color: #D4DADA;
    height: 60px;
}

h3 {
    text-transform: uppercase;
    padding: 5px 0;
    font: 400 20px 'Helvetica-Cond';
}

ul {
    list-style-type: none;
}

.header_content {
    padding: 10px 5px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.nav_bar {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    z-index: 5;
    transition: all .5s linear;
}

.expand_navbar {
    height: 200px;
}

.nav_bar ul>li {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: capitalize;
}

.user {
    display: none;
}

.icons {
    color: #D8D9DB;
    background-color: #4D5F6B;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    margin: 0 1px;
    font-size: 18px;
    display: none;
    text-align: center;
}

.logout {
    color: #D8D9DB;
    background-color: #4D5F6B;
    font: 800 12px 'Helvetica-Cond';
    display: inline-block;
    padding: 5px 15px;
    height: 30px;
    line-height: 22px;
    box-sizing: border-box;
    border-radius: 3px;
    display: none;
}

.fa-pencil,
.logout {
    -moz-box-shadow: inset 0px -2px 1px 1px #000000;
    -webkit-box-shadow: inset 0px -2px 1px 1px #000000;
    box-shadow: inset 0px -2px 1px 1px #000000;
}

.mobile_view {
    display: block;
    float: right;
}

#menu_btn {
    cursor: pointer;
}

.logo_small {
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo_big {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: relative;
}

.section_border {
    height: 1px;
    border: 0;
    width: 40%;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0));
}

main {
    background-color: #E8EAE9;
}

.main_content {
    text-align: center;
    clear: both;
    padding: 30px;
}

.main_content h2 {
    color: #4D5F6B;
    text-transform: uppercase;
    padding: 30px 0 0;
    font: 400 25px "Helvetica-Cond";
}

#cvr {
    width: 100%;
    float: left;
}

#cvr label {
    font: 600 17px "Helvetica";
}

.cvr_input {
    width: 19px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
    box-shadow: inset 0 2px 2px 2px rgba(170, 170, 170, 0.5);
}

.cvr_input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4D5F6B;
}

.cvr_input::-moz-placeholder {
    /* Firefox 19+ */
    color: #4D5F6B;
}

.cvr_input:-ms-input-placeholder {
    /* IE 10+ */
    color: #4D5F6B;
}

.cvr_input:-moz-placeholder {
    /* Firefox 18- */
    color: #4D5F6B;
}

#business_form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #4D5F6B;
    background-color: #d4d5d4;
}

#business_form section {
    margin: 10px 0;
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
    box-shadow: 0 .5px 0px 0px rgba(180, 180, 180, 0.5);
}

#business_form section {
    padding: 20px;
}

input.left {
    padding: 10px 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    color: #4D5F6B;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 5px rgba(128, 128, 128, 0.5);
}

input.left::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4D5F6B;
    text-shadow: 2px 1px 2px #ffffff;
    font: 400 18px "Helvetica";
    text-align: center;
}

input.left::-moz-placeholder {
    /* Firefox 19+ */
    color: #4D5F6B;
    text-shadow: 2px 1px 2px #ffffff;
    font: 400 18px "Helvetica";
    text-align: center;
}

input.left:-ms-input-placeholder {
    /* IE 10+ */
    color: #4D5F6B;
    text-shadow: 2px 1px 2px #ffffff;
    font: 400 18px "Helvetica";
    text-align: center;
}

input.left:-moz-placeholder {
    /* Firefox 18- */
    color: #4D5F6B;
    text-shadow: 2px 1px 2px #ffffff;
    font: 400 18px "Helvetica";
    text-align: center;
}

input.left:first-child {
    margin-left: 0;
}

input[type="range"] {
    width: 100%;
}

.hunter {
    float: left;
}

.farmer {
    float: right;
}

.hunter,
.farmer {
    font: 600 12px "Helvetica";
    text-shadow: 2px 2px 2px #fff;
}

.source ul>li,
.solutions ul>li,
.industry ul>li,
.sales ul>li {
    width: 100%;
    display: inline-block;
}

.world_map {
    width: 80%;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

.audience_container {
    padding: 12px 0;
}

.accr_hidden {
    display: none;
    transition: 0.4s;
}

.accr_visible {
    display: block;
}

.accr_button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    font: 800 20px 'Helvetica';
    color: rgba(128, 128, 128, 0.5);
    margin: 15px 0;
}

.accr_button_active {
    color: #4D5F6B;
}

.sign_up {
    padding: 10px;
    margin: 10px 10px 0 0;
    max-width: 150px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #4D5F6B;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

.sign_up>p {
    font-size: 10px;
}

.already_login {
    text-decoration: underline;
    color: #4D5F6B;
    font-weight: 800;
}

.accordian_sec p {
    text-align: center;
}

.audience input[type="checkbox"] {
    margin-left: 0;
}

.windup_que {
    padding: 10px;
    font-style: italic;
}

footer {
    background-color: #415764;
    text-align: center;
}

footer input,
footer textarea {
    display: block;
}

footer h3 {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    font: 800 22px "Helvetica-Cond";
}

footer h4 {
    font: 800 16px "Helvetica";
}

footer h4,
footer h4+p {
    color: #fff;
    padding: 5px 0;
    text-transform: uppercase;
}

.activity_sec h4+p {
    font-style: italic;
    font-size: 14px;
}

footer p {
    color: #848C8F;
    font: 800 16px "Helvetica";
    line-height: 25px;
}

.activity {
    padding: 20px 0;
    display: block;
}

.activity_img img {
    width: 80%;
    border: 2px solid #fff;
}

.thumbnail {
    width: 70%;
    margin-top: 20px;
}

.activity_img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.activity_content {
    display: block;
    width: 90%;
    padding: 10px;
}

.activity_sec,
.contact {
    width: 90%;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 20px auto;
}

.contact_detail p {
    display: table;
    width: 100%;
    padding-top: 10px;
}

.contact span:first-child {
    color: #fff;
    width: 25%;
    font: 600 16px "Helvetica";
}

.contact span {
    display: table-cell;
}

.contact p {
    color: #848C8F;
    text-transform: capitalize;
}

.contact_form {
    padding: 50px 0;
}

.contact_form h4 {
    padding-top: 15px;
}

.contact_form form {
    margin-top: 20px;
}

.contact_form input {
    width: 100%;
    padding: 10px;
    height: 55px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 0;
    font: 500 20px "Helvetica";
    background-color: #DEDEDE;
    box-shadow: inset 0 0 1px 1px rgba(128, 128, 128, 1);
}

.contact_form textarea {
    width: 100%;
    height: 270px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DEDEDE;
    border: 0;
    font: 500 20px "Helvetica";
    box-shadow: inset 0 0 1px 1px rgba(128, 128, 128, 1);
}

.send {
    width: 110px;
    padding: 14px;
    margin-top: 10px;
    background-color: #455763;
    color: #fff;
    font: 800 18px "Helvetica";
    border-radius: 5px;
    border-top: 0.1px solid rgba(250, 250, 250, 0.1);
    border-left: 0.1px solid rgba(250, 250, 250, 0.1);
    border-right: 0.1px solid rgba(250, 250, 250, 0.1);
    box-shadow: 0px 1.5px 1px #000;
}

.checkboxes {
    width: 25px;
    height: 25px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background-color: #fff;
    opacity: 0;
}

.label {
    position: relative;
}

.label:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    top: -3px;
    left: -37px;
    cursor: pointer;
}
.label:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    left: -34px;
    top: 8px;
    transform: rotateX(180deg) rotateZ(-32deg);
    transform-origin: left top;
    border-top: 5px solid #4D5F6B;
    border-right: 5px solid #4D5F6B;
    display: none;
}
.wm_checkboxes {
    z-index: -1;
    cursor: pointer;
}

.checkboxes:checked + .label:before {
    content: '';
    background-color: #fff;
    position: absolute;
}
.checkboxes:checked + .label:after {
    animation: check;
    animation-duration: 1s;
    display: inline-block;
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
    100% {
        height: 20px;
        width: 10px;
    }
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #EFEFEF;
    border-radius: 1.3px;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.2);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: -5px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(130, 130, 128, 0.2);
}

input+label {
    font: 800 14px "Helvetica";
    text-shadow: 0 2px #fff;
}

.flyout {
    display: none;
}

.flag {
    height: 25px;
    vertical-align: middle;
}

.filter_add {
    filter: grayscale(1);
}

@media screen and (min-width: 768px) {
    .icons,
    .logout {
        display: inline-block;
        vertical-align: middle;
    }
    .source ul>li {
        width: 24%;
        display: inline-block;
    }
    .solutions ul>li,
    .industry ul>li,
    .sales ul>li,
    .asia ul>li,
    .n_america ul>li,
    .s_america ul>li,
    .europe ul>li,
    .africa ul>li,
    .oceania ul>li {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
    }
    .down_arrow {
        margin-right: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .mobile_view {
        display: none;
    }
    .header_icons {
        margin: 5px;
    }
    .user {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
    }
    .login_avatar {
        height: 100%;
        float: left;
    }
    .user_name {
        height: 100%;
        float: left;
        background-color: rgba(250, 250, 250, 0.5);
        border-radius: 0 5px 5px 0;
        padding: 5px 10px;
        font: 600 12px "Helvetica";
        line-height: 20px;
        text-shadow: 2px 2px 1px #fff;
        border: 1px solid grey;
        box-sizing: border-box;
        box-shadow: inset 0 0 1px 1px rgba(128, 128, 128, 0.2);
    }
    .nav_bar {
        display: inline-block;
    }
    .nav_bar {
        float: right;
        width: auto;
        height: auto;
        box-sizing: border-box;
        position: static;
        background-color: #f7f7f7;
        border-radius: 5px;
        border: 1px solid #aaa;
        box-shadow: 0 0 1px 1px rgba(170, 170, 170, 1), inset 0 0 2px 5px rgba(216, 213, 213, 0.2);
    }
    .nav_bar ul>li {
        display: inline-block;
        padding: 12px 28px;
        font-size: 12px;
        text-transform: capitalize;
    }
    .nav_bar ul>li:not(:last-child) {
        border-right: .5px solid rgba(170, 170, 170, 1);
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.4), rgba(0, 0, 0, 0)) 1 100%;
    }
    #cvr {
        width: 46%;
        margin: 10px;
    }
    .cvr_input {
        width: 35px;
        padding: 5px 0;
    }
    input.left {
        width: 48%;
        margin: 10px;
        max-width: 350px;
    }
    input.left:nth-child(1) {
        margin-left: 0;
    }
    .windup_que {
        width: 50%;
        margin: 15px auto;
        font-size: 22px;
    }
    .flyout_menu {
        width: 270px;
        height: 420px;
        display: inline-block;
        position: fixed;
        top: 150px;
        left: -235px;
        transition: all .5s;
    }
    .flyout {
        background-color: #445662;
        width: 220px;
        height: 100%;
        overflow-y: auto;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid #fff;
        box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.3);
        text-align: left;
        z-index: 10;
        display: inline-block;
        word-wrap: break-word;
        white-space: pre-line;
        overflow-y: scroll;
    }
    .flyout_btn {
        display: inline-block;
        background-color: rgba(255, 255, 255, 1);
        width: 45px;
        padding: 10px;
        box-sizing: border-box;
        font: 400 18px "Helvetica";
        color: #000;
        line-height: 100%;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.5);
        cursor: pointer;
        position: relative;
        top: 30px;
        vertical-align: top;
        margin-left: -4px;
    }
    .flyout_title {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        color: #4D5F6B;
        font: 600 18px "Helvetica";
    }
    .flyout_arrow {
        margin: 5px;
        font-weight: bolder;
        font-size: 20px;
        color: rgba(128, 128, 128, 0.8);
    }
    .expand_flyout {
        left: -8px;
    }
    .expand_flyout i {
        transform: rotate(180deg);
    }
    .flyout>label {
        font: normal 18px "Helvetica";
        font-style: italic;
    }
    .flyout>.values {
        font: 800 16px "Helvetica";
        margin: 5px 0;
    }
    footer {
        text-align: left;
    }
    .activity_sec,
    .contact {
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        box-sizing: border-box;
    }
    .contact {
        width: 40%;
        padding: 40px;
        box-sizing: border-box;
    }
    .activity_sec {
        width: 55%;
        padding: 40px;
        box-sizing: border-box;
    }
    .activity_sec section:nth-child(2) {
        margin-top: 35px;
        padding: 10px 0;
    }
    .activity_sec section:nth-child(2) h4,
    .activity_sec section:nth-child(2) p {
        display: inline-block;
    }
    .activity_sec section:nth-child(2) p {
        float: right;
    }
    .activity {
        display: table;
    }
    .activity_img {
        display: table-cell;
        vertical-align: middle;
        width: 35%;
    }
    .activity_img img {
        width: 90%;
    }
    .activity_content {
        display: table-cell;
        width: 60%;
        vertical-align: middle;
        padding: 10px 15px;
    }
    .thumbnail {
        width: 100%;
        max-height: 300px;
    }
}

.asia_chbox {
    position: absolute;
    top: 160px;
    right: 170px;
}

.africa_chbox {
    position: absolute;
    top: 220px;
    right: 270px;
}

.europe_chbox {
    position: absolute;
    top: 120px;
    right: 250px;
}

.namerica_chbox {
    position: absolute;
    top: 120px;
    left: 70px;
}

.samerica_chbox {
    position: absolute;
    top: 250px;
    left: 170px
}

.oceania_chbox {
    position: absolute;
    bottom: 100px;
    right: 80px;
}


@media screen and (min-width: 1024px) {
    .wm_checkboxes {
        width: 18px;
        height: 18px;
        z-index: 10;
        display: block;
    }
}
